.title-canvas {
  height: 500px;
  width: 500px;

}

/*========= 粒子を描画するエリア設定 ===============*/

#title-wrapper {
  /*描画されるテキストを中央寄せにする*/
  display: flex;
  justify-content: center;
  align-items: center;
}

#title-canvas {
  width: 100%;
  height: 100vh;
  vertical-align: bottom;
  /*canvasタグ下に余白が生まれるのを防ぐ*/
}